.btn-large{
	width:100%;
}
.lme{
	margin-top: 20%;
}
#space{
	margin-top:20%;
}
.row{
	min-height: 50px;
}
.col{
	text-align: center;
	font-size: 20px;
	margin-top: 7px;
}
.progress{
	margin-top: 10%;
}